.overviewMain {
    overflow: auto;
}
.container {
    display: flex;
    height: 100vh;
}
.sidenav {
    background-color: #e3a23c;
    height: 100vh;
    flex: 0.2;
}
.overviewMain {
    flex: 1;
    padding: 30px 60px 30px 60px;
}

@media screen and (max-width: 768px) {
    .sidenav {
        display: none;
    }
    .overviewMain {
        padding: 30px 100px 30px 100px;
    }
}

@media screen and (max-width: 420px){
    .overviewMain {
        padding: 30px 40px 30px 40px;
    }
}