.container {
    display: flex;
    height: 100vh;
}
.blankSide {
    background-color: #e3a23c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.5;
}
.authImage {
    width: 350px;
    filter: drop-shadow(0px 1px 5px #ffecb8);
}
.formContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageTitle {
    position: relative;
    margin-bottom: 50px;
}
.pageTitle::after {
    content: '';
    width: 100px;
    height: 2px;
    background-color: #2600f5;
    position: absolute;
    top: 30px;
    left: 0
}
input {
    border: none;
    border-bottom: 1px solid #afaeae;
    padding: 15px;
}
.inputField:focus {
    outline: none !important;
    border-bottom: 1px solid #2600f5;
}
.inputField {
    width: 100%;
    margin-bottom: 10px;
}
.buttonContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.button {
    width: 180px;
    height: 35px;
}

@media screen and (max-width: 768px) {
    .formContainer {
        padding: 30px;
    }
    .inputField {
        width: 90%;
    }
}

@media screen and (max-width: 420px) {
    .blankSide {
        display: none;
    }
}