.chart {
    flex: 1;
}
.chartItem {
    border-radius: 8px;
    background: #ffffff;
    box-shadow:  6px 6px 10px #f7f7f7, 
                 -6px -6px 10px #ffffff;
    width: 400px;
    height: 50px;
    margin-bottom: 15px;
}
.chartContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
.chartContainer {
    flex-direction: column;
}
.chartItem {
    width: 300px;
}
.chart {
    width: 300px;
}
}