.chart {
    flex: 1;
}
.chartItem {
    border-radius: 8px;
    background: #ffffff;
    box-shadow:  6px 6px 10px #f7f7f7, 
                 -6px -6px 10px #ffffff;
    width: 600px;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chartContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-size: 14px;
    color: #afaeae;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
.chartContainer {
    flex-direction: column;
}
.chartItem {
    width: 300px;
}
.chart {
    display: none;
}
}